@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

#main-image {
   background: url('../images/cottage.jpeg') no repeat center;
}

body {
    font-family: "Kaisei HarunoUmi", sans-serif;
    font-weight: 300;
    color: #222222;
}