@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: "Kaisei HarunoUmi", sans-serif;
    font-weight: 300;
    color: #222222;
}

#logo {
    padding: 10px 0 10px 15px;
    color:#4F000B;
}

#menu, #logo {
    line-height: 50px;
}

#menu {
    position:absolute;
    top: 10px;
    width: 100%;
    padding: 0 30px 0 0;
   
}

#menu a {
    text-decoration:none;
    color:#4F000B;
    font-size: 125%;
}

#menu a:hover {
    border-bottom: 1px solid #4F000B;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/cottagehome.jpg') no-repeat center center;
    
}
 
#book-stay-button {
    background-color:#4F000B;
    color:#fff;
    font-size:125%;
    font-family: "Kaisei HarunoUmi", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    border-radius:2px;
    padding: 15px 35px;
    text-align:center;
    float:right;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#book-stay-button:hover {
    background-color:#ce4257;
    color:#fafafa;
}

footer {
    height: 150px;
}

.social-networks {
text-align:center;
}

.social-networks > li {
    display:inline;}

.social-networks i {
        font-size: 160%;
        margins: 1%;
        padding: 5%;
        color: #4F000B
    }


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

.active {
    border-bottom: 1px solid #4F000B;
}

/* Attractions */

    .attractions-container {
        display: flex;
        align-items: left;
        justify-content: left;
      }

      img {
          min-width: 100%;
          max-width: 100%;
      }

      .attractions-image {
        flex-basis: 40%;
        min-width: 40%;
        max-width: 40%;
      }
      
      .attractions-text {
        font-size: 20px;
        padding-left: 20px;
        color:#4F000B;
        max-width: 100%;
      }

      /* Rooms */

      #double-room-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

      #room1-image {
        height: 600px;
        width: 100%;
        background: url('../images/room1.jpg') no-repeat center center;}

        #king-room-image {
            height: 600px;
            width: 100%;
            background: url('../images/king-room.jpg') no-repeat center center;}

        #price-cover-text-double {
    
                font-size: 130%;
                font-family: "Kaisei HarunoUmi", sans-serif;
                text-transform: uppercase;
                letter-spacing: 4px;
            
                width: 300px;
                height: 200px;
            
                padding-top: 40px;
                padding-left: 10px;
            
                background-color: rgb(206, 66, 87, .6);
            
                top: 150px;
                left: 0;
            
                position: absolute;
            }
        
            #price-cover-text-king {
    
                font-size: 130%;
                font-family: "Kaisei HarunoUmi", sans-serif;
                text-transform: uppercase;
                letter-spacing: 4px;
            
                width: 300px;
                height: 200px;
            
                padding-top: 40px;
                padding-left: 10px;
            
                background-color: rgb(206, 66, 87, .6);
            
                top: 750px;
                left: 0;
            
                position: absolute;
            }

            /* contact form */


            .contact-section {
                clear: left;
                background: url('../images/stone-fire.jpg');
                background-size: cover;
                background-position: center;
                height: 900px;
                
            }
            
            .contact-form {
                margin: 140px 10% 0 0;
                color: #fff;
                background-color: rgba(206, 66, 87, 0.6);
                max-width: 400px;
                position: absolute;
                left: 5%;
                padding: 35px;
            }
            
            .send-button {
                background-color:#4F000B;
                color:#fff;
                font-size:110%;
                margin-top: 20px;
                border-radius:2px;
                padding: 15px 35px;
                text-align:center;
                float:right;

            }

            .send-button:hover {
                background-color:#ff9b54;
                color:#4F000B
            }

            .text-input {
                background: transparent;
                color: #fafafa;
                min-width: 100%;
                max-width: 100%;
                height: 25px;
                margin: 5px 0 20px 0;
                border: 1px solid white;
                border-radius:2px;
            }
            
            .text-input-message {
                background: transparent;
                color: #fafafa;
                min-width: 100%;
                max-width: 100%;
                height: 100px;
                margin: 5px 0 20px 0;
                border: 1px solid white;
                border-radius:2px;
            }